body{
    background-color: beige;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.area-trabajo{
    display: flex;
    
    flex-direction: column;
    
    border: solid 1px gray;
    
    
}
.card{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 70%;
    height: 38%;
    border-style: solid 1px gray;
    /*border-radius: 10px;*/
    margin-left: auto;
    margin-right: auto;
  
}
.inverso{
    color: white;
    margin-left: 1%;
}
h1{
    font-family: 'Kanit';
    font-weight: normal;

}
a{
    color: gray;
}
a:visited{
    color: firebrick;
}
a:hover{
    text-decoration: underline;
    color: green;
    font-weight: bold;
}

#parrafoSaludo{
    font-family: 'Montserrat';
}
.imagen1{
    width: 70%;
    margin-left: 15%;
}
.btnReg:hover{
    background-color: orangered;
    border-color: orangered;
    cursor:pointer;
    
}
.card-body{
    
   margin-left: 35%;
}
.formulario1{
    background-color: beige;
    padding-left: 2%;
    padding-bottom: 2%;
}
.formulario2{
    background-color: darkslategrey;
    padding-left: 2%;
    padding-bottom: 2%;
}
.formulario3{
    background-color: lightgreen;
    padding-left: 2%;
    padding-bottom: 2%;
}
.formulario4{
    
    background-color: lightslategray;
    padding-left: 2%;
    padding-bottom: 2%;
}
.formulario5{
    margin-top: 2%;
    background-color: rgb(87, 10, 7);
    padding-left: 2%;
 
}
.formulario6{
    margin-top: 2%;
    background-color: rgb(129, 154, 190);
    padding-left: 2%;
    padding-bottom: 2%;
}
.formulario7{
    margin-top: 2%;
    background-color: darkslategrey;
    padding-left: 2%;
    padding-bottom: 2%;
}
.formulario8{
    margin-top: 2%;
    background-color:thistle;
    padding-left: 2%;
    padding-bottom: 2%;
}
.formulario9{
    margin-top: 2%;
    background-color:white;
    padding-left: 2%;
    padding-bottom: 2%;
    

}
.tarjeta{
    
    margin-top: 2%;
    margin-bottom: 2%;
    border-style: solid 1px gray;
    border-radius: 10px;
    display: flex;
    

}
img{
    width: 3%;
}
.imgFrm{
    width: 400px;
}
.btnReg{
    width: 100px;
    height: 50px;
    float: left;
    background-color:deepskyblue;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    border-color: deepskyblue;
    color: white;
}
.formElement{
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    font-family: 'Montserrat';
}
.formulario{
    font-family: 'Montserrat';
    display: flex;
    float: left;
    width: 800px;
    margin-left: 45px;
    margin-right: 50px;
    align-items:center;
    border-radius: 15px;
    padding-left: 2%;
    padding-bottom: 5%;
    border: solid 1px grey;

}
.tarjeta input{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

